<div class="container">
  <h1>Tweet</h1>
  <p><a href="/sign_out">Sign Out</a></p>

  <form id="tweet" method="post" action="/new/tweet">
    <textarea autofocus name='status' style='max-width: 98%; min-width: 98%' placeholder="Enter your tweet here..."></textarea>

    <p><em>Optional</em> <b>Tweet later?</b> Enter the number of minutes (10, 60 etc).</p>
    <p><input type="text" name='interval'></p>
    <input type='submit' style='width: 10em;'>
    </p>
  </form>

  <div class='response'>
  </div>
</div>
