<div class="container">
  <h1>Tweet</h1>
  <p><a href="/sign_out">Sign Out</a></p>

  <form id="tweetas" method="post" action="/new/tweet">
    <textarea autofocus name='body' style='max-width: 98%; min-width: 98%' placeholder="Enter your tweet here..."></textarea>
    <p style='text-align: center;'>
    <input type='submit' style='width: 10em;'>
    </p>
  </form>

  <div class='response'>
  </div>
</div>
